body {
    font-size: 20px;
    font-family: "Lato", "Helvetica", "Arial", "sans-serif";
    color: #334;
    line-height: 1.4;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #2196f3;
}

ul {
    list-style: none;
    text-decoration: none;
}

nav {
    display: block;
    position: absolute;
    bottom: 13px;
    right: 0;
}

nav ul li {
    margin-right: 20px;
    margin-bottom: 0;
    line-height: 1;
    float: left;
}

nav ul li a {
    text-transform: uppercase;
    color: #fff;
}

h3 {
    margin: 0;
}

h5 {
    margin-bottom: -2%;
}

img {
    max-width: 100%;
}

.grid {
    max-width: 900px !important;
    margin: 0 auto;
}

.white {
    color: #fff;
}

.profile {
    position: absolute;
    width: 500px;
    top: calc(63% - 300px);
    left: calc(50% - 250px);
    text-align: center;
}

.profile h1 {
    font-size: 40px;
    font-weight: 400;
    color: white;
    margin-bottom: auto;
}

.profile .subheading {
    font-size: 25px;
    color: #fff;
}

.lnr-chevron-down {
    color: #fff;
    font-size: 100px;
    position: absolute;
    top: 81%;
    left: 49%;
    margin-left: -40px;
    margin-bottom: 20px;
    cursor: pointer;
}

.heading {
    text-align: center;
    margin-top: 6%;
    text-transform: uppercase;
}

.resume-sub-heading{
    text-transform: uppercase;
    margin-left: 20%;
}

.bg_image {
    max-width: 100%;
    height: 100vh;
    background: url(/images/portland.jpg) no-repeat center center;
    background-size: cover;
}

.italic-font {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.resume p {
    font-size: 17px;
}

.social {
    position: relative;
    height: 100px;
    padding-bottom: 40px;
    text-align: center;
}

.social a {
    position: absolute;
    margin: 0px 2px;
    padding: 8px;
    border-radius: 6px;
    background-color: #fff;
    color: #2196f3;
}

.social a:hover, .social a:hover div{
    text-decoration: none;
    background-color: #2196f3;
    color: #fff;
}

.social i {
    font-size: 60px;
}

.email {
    left: 20%;
    right: 60%;
}

.github {
    left: 40%;
    right: 40%;
}

.linkedin {
    left: 60%;
    right: 20%;
}

.technologies li {
    list-style: disc;
    font-size: 17px;
    margin-left: 22%;
    padding: 5px 0px;
}

.experience li {
    list-style: disc;
    font-size: 17px;
    padding: 5px 0px;
}

.align-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.projects {
    margin-top: 10%;
}

.project-image {
    height: 200px;
}

.project-link {
    color: #2196f3;
    text-decoration: none;
}

#navbar-main {
    width: 100%;
    height: 45px;
    position: fixed;
    z-index: 100;
    background-color: rgba(17, 17, 17, 1);
    color: #fff;
}

#navbar-main.open nav {
    opacity: 1;
}

#logo-main {
    position: relative;
    float: left;
    margin-top: 4px;
    margin-left: 8px;
}

#logo {
    width: 35px;
    height: auto;
}

#mobile-nav {
    display: none;
    text-align: right;
    margin-top: 10px;
    margin-right: 2.8%;
    margin-bottom: 1%;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 401px) {
    nav {
        opacity: 0;
        position: relative;
        height: 175px;
        top: 2px;
        width: 100%;
        padding-top: 4px;
        background-color: rgba(17, 17, 17, 1);
    }

    nav ul li{
        float: none;
        margin-bottom: 20px;
        text-align: right;
        margin-right: 3%;
    }

    .bg_image {
        height: 65vh;
    }

    .profile {
        width: 350px;
        top: calc(51% - 300px);
        left: calc(83% - 300px);
    }

    .profile h1 {
        font-size: 30px;
        font-weight: 600;
        margin-top: 11%;
    }

    .profile .subheading {
        font-size: 18px;
    }

    .lnr-chevron-down {
        font-size: 60px;
        top: 55%;
        left: 53%;
    }

    .social {
        height: 70px;
        padding-bottom: 25px;
    }

    .social div {
        display: none;
    }

    .project-image {
        height: 30vh;
        width: 100%;
    }

    #mobile-nav {
        display: block;
    }
}
@media only screen and (max-width : 320px) {
    .profile{
        left: calc(90% - 300px);
        top: calc(60% - 300px);
    }
}

/* Tablet (portrait) ----------- */
@media only screen and (min-width: 402px) and (max-width : 768px) {
    nav {
        opacity: 0;
        position: relative;
        height: 175px;
        top: -2px;
        width: 100%;
        padding-top: 4px;
        background-color: rgba(17, 17, 17, 1);
    }

    nav ul li{
        float: none;
        margin-bottom: 20px;
        text-align: right;
        margin-right: 3%;
    }

    .bg_image {
        height: 100vh;
    }

    .lnr-chevron-down {
        font-size: 75px;
        top: 85%;
        left: 53%;
    }

    .profile {
        left: calc(53% - 250px);
    }

    .profile h1 {
        font-size: 30px;
        font-weight: 600;
        margin-top: 11%;
    }

    .profile .subheading {
        font-size: 18px;
    }

    .social {
        height: 70px;
        padding-bottom: 25px;
    }

    .social div {
        display: none;
    }

    .project-image {
        width: 100%;
        height: 45vh;
    }

    #mobile-nav {
        display: block;
    }
}

/* Devices Landscape ----------- */
@media only screen and (max-width: 738px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 700px) and (orientation: landscape) and (min-moz-device-pixel-ratio: 1.5), only screen and (max-width: 700px) and (orientation: landscape) and (min-resolution: 240dpi) {
    nav {
        opacity: 0;
        position: relative;
        height: 175px;
        top: -2px;
        width: 100%;
        padding-top: 4px;
        background-color: rgba(17, 17, 17, 1);
    }

    nav ul li{
        float: none;
        margin-bottom: 20px;
        text-align: right;
        margin-right: 3%;
    }

    .bg_image {
        height: 100vh;
    }

    .profile {
        left: calc(52% - 250px);
        top: calc(55% - 300px);

    }

    .lnr-chevron-down {
        font-size: 60px;
        top: 81%;
        left: 53%;
    }

    .profile h1 {
        font-size: 24px;
        font-weight: 600;
        margin-top: 34%;
    }

    .profile .subheading {
        font-size: 18px;
    }

    .social {
        height: 70px;
        padding-bottom: 25px;
    }

    .social div {
        display: none;
    }

    .project-image {
        height: 70vh;
    }

    #mobile-nav {
        display: block;
    }
}

/* Side margins for content for smaller screens */
@media only screen and (max-width: 980px) {
    .grid {
        margin-left: 5%;
        margin-right: 5%;
    }
}

/* iPad media query specific */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation:portrait) {
    .profile {
        top: calc(33% - 300px);
        left: calc(52% - 250px);
    }

    .project-image {
        height: 15vh;
    }
}